.shop{
   
    width:100%;
    height:auto;
  
    display: flex;
    border: solid 8px black;

}


.s-content{
    padding-top: 100px;
    align-items: flex-start;
    
}
.s-btn:hover{
    transform: scale(1.2);
    color:#555;
  }

  .s-img{

    height:500px;
    width:500px;
    
    }