
.footer {
    background-color: #808080;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
 
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
  }
  
 .footer-section p{
    color:#fff;
 }
 .footer-bottom p{
    color: #fff;
 }
  .footer-section {
    flex: 1;
    min-width: 250px;
    margin: 10px;
    color: white;
  }
  
  .footer-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 8px 0;
  }
  
  .footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-section ul li a:hover {
    color: #ffdd57;
  }
  
 
  .social-icons a {
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    color: white;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #ffdd57;
  }
  
  
  .footer-bottom {
    margin-top: 20px;
    border-top: 1px solid white;
    padding-top: 10px;
    font-size: 14px;
  }
  

  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      text-align: center;
    }
  }
  