.login{

    padding:20px;
    background-color:#2d00964b;
    display: flex;
    align-items: center;
    justify-content:  space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.login-container{
    border:5px solid white;
    border-radius: 14px;
    height:550px;
    width:500px;
    
    font-size: 20px;
}
.username{
    margin-top: 20px;
    margin-bottom:20px;
    align-items:center;
}
.password{
    margin-top: 0;
    margin-bottom:20px;
    align-items:center;
}

.email{
    margin-top: 0;
    margin-bottom:20px;
    align-items:center;
}
.login-btn{
    margin-top: 0;
    margin-bottom:20px;
    align-items:center;
}
.signup{
    margin-top: 0;
    margin-bottom:20px;
    align-items:center;
}
.login-container input{
    height:50px;
    border-radius: 14px;
    width:400px;
    background-color: white;
    color: black;
}
.login-container input::placeholder {
    text-align: center;

}
.login-container button{
    height: 50px;
    width: auto;
    background-color:#793698;
    border:2px solid white;
    
}
.signup button{
    height: 50px;
    width: auto;
    background-color:#0077b6;   
}
.login-container:hover{
    box-shadow: 10px 10px #793698;
    transform:scale(0.9)
}
.login-container button:hover{
    background-color: #03045e;
    transform: scale(1.1);
   
}
.login-img:hover{
    transform: translateX(100px);
}
